<% layout("/layouts/boilerplate.ejs") -%>
<body>
    <br> <br>
    <div class="row mt-2">
     <div class="col-8 offset-2">
    <h3> Create New Listing</h3>
    <form method="post" action="https://wanderlust-8hze.onrender.com/listing " novalidate class="needs-validation" >
        <div class="mb-3">
            <label for="label" class="form-label">Title</label>
            title  <input type="text" name="listing[title]"  placeholder="add a catchy title" class="form-control" required>
            <div class="valid-feedback">Title looks good!</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">description</label>
            description  <input type="text" name="listing[description]" placeholder="enter a description" class="form-control" required>
            <div class="invalid-feedback">Please enter description!</div>
        </div>
        
        <div class="mb-3">
            <label for="image" class="form-label">Upload Image Link/URL</label>
            image  <input type="text" name="listing[image]" placeholder="enter a image/url " class="form-control">
        </div>
    <div class="row">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label">price</label>
            price  <input type="" name="listing[price]" placeholder="1200" class="form-control" required>
            <div class="invalid-feedback">Please enter valid price!</div>
        </div>
      
       <div class="mb-3 col-md-8">
          <label for="country" class="form-label">country</label>
           country  <input type="text" name="listing[country]" placeholder="india" class="form-control" required>
           <div class="invalid-feedback">Please enter valid country name!</div>
      </div>
    </div>
     <div class="mb-3">
         <label for="location" class="form-label">location</label>
          location  <input type="text" name="listing[location]" placeholder="enter a location" class="form-control" required>
          <div class="invalid-feedback">Please enter valid location!</div>
     </div>
   
     <div class="input-group mb-3"  >
        
        <label class="input-group-text" for="inputGroupSelect01">Choose Category</label>
        <select class="form-control" name="listing[category]" id="inputGroupSelect01" required>
          <option selected>Choose...</option>
          <option value="Rooms">Rooms</option>
          <option value="Iconic Cities">Iconic Cities</option>
          <option value="Castles">Castles</option>
          <option value="Amazing Pools">Amazing Pools</option>
          <option value="Camping">Camping</option>
          <option value="Sea">Sea</option>
          <option value="farms">farms</option>
          <option value="Arctic">Arctic</option>
          <option value="Domes">Domes</option>
          <option value="Boats">Boats</option>
          <option value="Domes">Domes</option>
          <option value="Trending">Trending</option>
        </select>
      </div>

        <button class="btn btn-dark add-btn mb-3">ADD</button>
        
    </form>
  </div> 
 </div> 
 </body>
